{% extends "first_app/base.html" %}
{% block body_block %}

    <h3> Artist Name: {{ artist_info.first_name }} {{ artist_info.last_name }}</h3>   
  <h3> instrument: {{artist_info.instrument}} </h3>
  <h3>Artist Rating: {{artist_rating.num_stars__avg}}</h3>
  <a href="{% url 'first_app:edit_artist' artist_id=artist_info.id %}" class="btn btn-success btn-sm"> Edit</a>
  <h2>Album list</h2>
  <table class="table table-bordered">
    <tr>
      <th>Album Name</th>
      <th>Release Date</th>
      <th>Rating</th>
    </tr>
    {% for album in album_list %}
    <tr>
      <td><a href="{% url 'first_app:edit_album' album_id=album.id %}">{{ album.name }}</a></td>
      <td><a href="">{{ album.release_date|date:"M,d,Y" }}</a></td>
      <td><a href="">{{album.num_stars }}</a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock  %}